<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask Blog{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="layout">

<header class="navbar">
    <div class="nav-content">
        <h2 class="logo">FlaskBlog</h2>
        <div>
            <a href="{{ url_for('posts.index') }}">Home</a>
            <a href="{{ url_for('posts.create') }}" class="btn-nav">New Post</a>
        </div>
    </div>
</header>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    © 2026 Flask Tutorial Demo
</footer>

</body>
</html>